---
- name: Check the latest version of metamod source
  uri:
    url: "{{ metamod_source_url }}/{{ metamod_source_branch }}/mmsource-latest-linux"
    return_content: yes
  register: __metamod_source_filename
  changed_when: false

- name: Check the currently installed version of metamod source
  command:
    cmd: grep -F {{ __metamod_source_filename.content }} {{ __metamod_source_install_path }}/addons/metamod/VERSION
  register: __metamod_source_current
  changed_when: false
  failed_when: false

- name: Upgrade metamod source
  block:
    - name: Download the latest version
      get_url:
        url: "{{ metamod_source_url }}/{{ metamod_source_branch }}/{{ __metamod_source_filename.content }}"
        dest: /tmp

    - name: Extract the downloaded file
      unarchive:
        remote_src: yes
        src: "/tmp/{{ __metamod_source_filename.content }}"
        dest: "{{ __metamod_source_install_path }}/"
        exclude: [ "addons/metamod/README.txt" ]
        owner: "{{ steamcmd_user }}"

    - name: Remove the archive
      file:
        path: "/tmp/{{ __metamod_source_filename.content }}"
        state: absent

    - name: Write the current metamod source version
      copy:
        dest: "{{ __metamod_source_install_path }}/addons/metamod/VERSION"
        content: "{{ __metamod_source_filename.content }}"
        owner: "{{ steamcmd_user }}"
      notify: "Restart source games"
  when: __metamod_source_current.rc != 0
